# Refer to https://github.com/github/gitignore for useful templates

# Basic rules
tmp/
*.log

# C/C++
*.o
*.ko
*.obj
*.elf
*.slo
*.lo
*.o
*.obj

# Python
__pycache__/

# JAVA
*.class

# OS-specific
.DS_Store
._*
Thumbs.db

# Cmake cache
CMakeCache.txt
CMakeFiles/
test*.cmake

# Vim swap files
*.swp
