# Refer to https://github.com/github/gitignore for useful templates

# General build files
build*/
build/
tmp/

# Logs and temporary files
*.log
logs/*
*.html
*.csv
*.csv.backward

# C/C++
*.o
*.ko
*.obj
*.elf
*.slo
*.lo
*.so
*.a
*.bin
*.exe
*.d
*.dSYM/
*.out
*.h.gch

# Python
__pycache__/
*.py[cod]
*.pyo

# Java
*.class
*.jar
*.war
*.ear

# OS-specific
.DS_Store
._*
Thumbs.db
*.ini

# CMake
CMakeCache.txt
CMakeFiles/
*.cmake

# Editor-specific
*.swp              # Vim swap files
.idea/             # IntelliJ IDEA
.vscode/           # VSCode directory
*.code-workspace   # VSCode workspace files

# Images and media
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.svg

# Tools-generated binaries and scripts
src/common/third_party/velox/fbthrift
src/common/third_party/velox/fizz
src/common/third_party/velox/fmt
src/common/third_party/velox/folly
src/common/third_party/velox/wangle
src/common/third_party/velox/fbthrift
src/common/third_party/velox/scripts/fizz
src/common/third_party/velox/scripts/fmt
src/common/third_party/velox/scripts/folly
src/common/third_party/velox/scripts/wangle
src/common/third_party/velox/fbthrift/conda/Miniconda3-latest-Linux-x86_64.sh

# Miscellaneous
r*hs
