cmake_minimum_required(VERSION 3.16)

####################################################
# PROJECT METADATA 
####################################################
project()

####################################################
# ADD SUBDIRECTORIES
####################################################

####################################################
# COMPILATION FLAGS
####################################################


####################################################
# FIND PACKAGES
####################################################

####################################################
# DECLARE TARGETS
####################################################

####################################################
# GLOBAL DEFINITION
####################################################

####################################################
# PER-TARGET DEFINITION - TARGETNAME
####################################################


####################################################
# TESTS
####################################################